[changelog]
header = "# Changelog\n\n"
body = """
{% if version %}\
## [{{ version | trim_start_matches(pat="v") }}] - {{ timestamp | date(format="%Y-%m-%d") }}
{% else %}\
## [unreleased]
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper_first }}

{% for commit in commits %}\
- {% if commit.scope %}**{{ commit.scope }}**: {% endif %}\
{{ commit.message | upper_first }} \
([`{{ commit.id | truncate(length=7, end="") }}`](https://github.com/mounteden/abac-ts/commit/{{ commit.id }}))
{% endfor %}
{% endfor %}
"""
trim = true
footer = ""

[git]
conventional_commits = true
filter_unconventional = true
split_commits = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^docs?", group = "Documentation" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactoring" },
  { message = "^test", group = "Testing" },
  { message = "^style", group = "Styling" },
  { message = "^revert", group = "Reverts" },
  { body = ".*security", group = "Security" },
  { message = "^chore\\(release\\)", skip = true },
  { message = "^chore|^ci|^build", group = "Miscellaneous" },
]
filter_commits = true
tag_pattern = "v[0-9]*"
sort_commits = "oldest"
